<section id="about" class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-last order-lg-first">
                <div class="cta-image left-image">
                    <img src="https://cdn.buttercms.com/K4G83OQiRVyOpdR3CPuA" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cta-content-wrapper">
                    <div class="section-title">
                        <h2 class="mb-20">ButterCMS is your content backend</h2>
                        <p>Butter has three core content solutions: Pages, Posts, and Collections. Combine this with advanced capabilities like localization, Write API, multi-site + multi-env and Butter is your centralized content backend no matter how much content you're managing.</p>
                        <a href="https://buttercms.com/pages/" class="main-btn btn-hover border-btn mt-30">Update this in Butter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>