@model BlogSearchFilterViewModel

<div class="sidebar blog-grid-page">
    <div class="widget search-widget">
        <h5 class="widget-title">Pretraži događaje</h5>
        <form asp-controller="blog" asp-action="search" method="get">
            <input asp-for="q" type="text" placeholder="Pretraži ovdje..." />
            <button type="submit"><i class="lni lni-search-alt"></i></button>
        </form>
    </div>
</div>