<section id="features" class="feature-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-10">
                <div class="section-title mb-60">
                    <h2 class="mb-20">This page is built using ButterCMS Components</h2>
                    <p>This page is an example of utilizing Butter Components which allow you to build dynamic landing pages by choosing Components from a Component Library. Reuse and reorder Components in any way you want!</p>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature">
                            <div class="feature-icon">
                                <i class="lni lni-display"></i>
                            </div>
                            <div class="feature-content">
                                <h4>Components on this page</h4>
                                <p>This sample page has four component types: hero, two column with image, features, and testimonials.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature">
                            <div class="feature-icon">
                                <i class="lni lni-compass"></i>
                            </div>
                            <div class="feature-content">
                                <h4>Build your own</h4>
                                <p>This page is just an example set of Components. You can build your own custom Component library!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature">
                            <div class="feature-icon">
                                <i class="lni lni-grid-alt"></i>
                            </div>
                            <div class="feature-content">
                                <h4>Reorder them</h4>
                                <p>Components are great because you can reorder them from your Butter dashboard</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature">
                            <div class="feature-icon">
                                <i class="lni lni-layers"></i>
                            </div>
                            <div class="feature-content">
                                <h4>Infinite possibilities</h4>
                                <p>Build carousels, call to actions, testimonials, and much more. There's infinite flexbility.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>