@model IEnumerable<ButterCMS.Models.Category>

<div class="widget categories-widget">
    <h5 class="widget-title">Kategorije</h5>
    <ul class="categories-list">
        @foreach (var category in Model)
        {
            <li>
                <a href="@Url.RouteUrl("BlogPostsByCategory", new { slug = category.Slug })">@category.Name</a>
            </li>
        }
    </ul>
</div>