@model BlogIndexViewModel

@await Html.PartialAsync("_BlogNavigation", Model.NavigationState)

<section class="blog-posts">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 blog-roll-cards">
                <div class="row">
                    @if (Model.Posts.Count() > 0)
                    {
                        @foreach (var post in Model.Posts)
                        {
                            <div class="col-12 col-lg-6">
                                <div class="blog-roll-card">
                                    @await Html.PartialAsync("_BlogPostPreamble", post)

                                    <div class="blog-roll-card-body">
                                        <p>@post.Summary</p>
                                    </div>
                                    <div class="blog-roll-card-footer text-center">
                                        <a asp-controller="Blog" asp-action="Post" asp-route-slug="@post.Slug" class="main-btn btn-hover">Read More</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>
                            No blog posts found matching this query.
                        </p>
                    }
                </div>
            </div>

            <aside class="col-12 col-lg-4">
                @await Html.PartialAsync("_BlogSearchFilter", new BlogSearchFilterViewModel { SearchQuery = null })

                @await Component.InvokeAsync("BlogCategoriesFilter")
            </aside>
        </div>
    </div>
</section>